@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
}

.chat-nav-container {
  box-shadow: 0 4px 5px -5px #000;
}

.chat-box-container::-webkit-scrollbar {
  display: none;
}

.msg-loader {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@font-face {
  font-family: "AbadiMTStd";
  src: url("/fonts/AbadiMTStd.woff2") format("woff2"),
    /* Adjust the path to your font file */ url("/fonts/AbadiMTStd.ttf")
      format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Aptos";
  src: url("/fonts/Aptos.woff2") format("woff2"),
    url("/fonts/Aptos.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto.woff2") format("woff2"),
    url("/fonts/Roboto.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* HTML: <div class="loader"></div> */
.loader {
  width: 50px;
  padding: 8px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #0066ff;
  --_m: conic-gradient(#0000 10%, #000), linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
  mask: var(--_m);
  -webkit-mask-composite: source-out;
  mask-composite: subtract;
  animation: l3 1s infinite linear;
}
@keyframes l3 {
  to {
    transform: rotate(1turn);
  }
}

.history-container::-webkit-scrollbar {
  width: 0;
}

/* .typewriter .span-content {
  overflow: hidden;
  margin: 0 auto; 
  animation: typing 6.5s steps(40, end);
  border-right: 1px solid red;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
} */

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge, and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
